<div class="row">
    <div class="col-sm-12">
      <h3>Pined Table Datatable</h3>
      <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="data" [options]="options"
        [columns]="columns" (rowClick)="onRowClick($event)">
        <ngx-caption>
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-12 ">
              <b>
                <i class="fa fa-table" aria-hidden="true"></i>
                Basic Data Table List
              </b>
            </div>
          </div>
        </ngx-caption>
      </ngx-datatable>
    </div>
  </div>