
<div  color="darken" class="jarviswidget jarviswidget-sortable jarviswidget-color-darken">
    <header>
        <span class="widget-icon"> 
            <i class="fa fa-table"></i> 
        </span>
        <h2>Data Tables</h2>
       
    </header>
    <div>
      <div class="widget-body no-padding">
<div  class="dataTables_wrapper form-inline dt-bootstrap no-footer responsive">
    <div class="dt-toolbar" style="margin-top: 5px;">
        <div class="col-xs-6 col-sm-6">
            <div id="DataTables_Table_0_filter" class="dataTables_filter" style="text-align: left;">
                <label>
                    <input type="text" 
                    [(ngModel)]="searchText" 
                    (input)="onInputSearch()"
                    name="search"
                    placeholder="Search"
                    autocomplete="off"
                    style="border-radius: 0px;"
                    class="form-control input-md"  />
                </label>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6  text-right">
            <div class="dataTables_length" >
                <label>
                    <select (change)="onChangeItemPerPage()" style="border-radius: 0px;" [(ngModel)]="itemPerPage" name="itemPerPage" class="form-control" id="exampleFormControlSelect1">
                        <option *ngFor="let item of itemPerPageDDL" [ngValue]="item">{{item}}</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <table _ngcontent-qqc-c1=""  class="dataTable responsive table table-striped table-bordered table-hover" role="grid" aria-describedby="DataTables_Table_0_info" width="100%">
        <thead _ngcontent-qqc-c0="">
            <tr  role="row" >
                <!-- sorting_asc, sorting_desc -->
                <th  [ngClass]="{sorting:item.sorting==true, sorting_asc:item.sorting==true&&item.sortingOrder=='asc', sorting_desc:item.sorting==true&&item.sortingOrder=='desc'}" 
                    *ngFor="let item of columns; let i = index; trackBy: identify"
                    (click)="onClickOrderBy(item, i)">
                    {{item.title}} 
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let rowItem of data 
                | sort:orderBy 
                | search:searchText 
                | paginate: { itemsPerPage: itemPerPage, currentPage:currentPage }; 
                trackBy: identify; let i = index;" 
                [ngClass]="{odd:i%2}">
                <td *ngFor="let colItem of columns;">{{rowItem[colItem.key]}}</td>
            </tr>
        </tbody>
    </table>
    <div class="dt-toolbar-footer">
        <div class="col-sm-6 col-xs-12 hidden-xs">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>

</div>
</div>
</div>


