
.jarviswidget {
	margin: 0 0 30px;
	position: relative;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0
}

.jarviswidget>header {
	height: 34px;
	padding: 0;
	line-height: 40px
}

.jarviswidget>header>.widget-icon {
	display: block;
	width: 30px;
	height: 32px;
	position: relative;
	float: left;
	font-size: 111%;
	line-height: 32px;
	text-align: center;
	margin-right: -10px
}

.jarviswidget>header h2 {
	height: 100%;
	width: auto;
	display: inline-block;
	font-size: 14px;
	position: relative;
	margin: 0;
	line-height: 34px;
	/* font-weight: 400; */
	letter-spacing: 0
}

.jarviswidget>header>h2 {
	margin-left: 10px;
	float: left
}

.jarviswidget>header>:first-child.widget-icon {
	margin-left: 0
}

.jarviswidget>header .jarviswidget-icon {
	width: 16px;
	height: 16px;
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	zoom: 1;
	z-index: 4000
}

.ui-sortable .jarviswidget-sortable>header {
	cursor: move;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	line-height: normal;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05)
}

.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed>header {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

.jarviswidget-ctrls {
	width: auto;
	float: right;
	padding: 0;
	margin: 0
}

.jarviswidget-ctrls .button-icon {
	min-width: 30px;
	height: 32px;
	float: left;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 1px solid rgba(0, 0, 0, .09)
}

.jarviswidget-ctrls .button-icon:hover {
	background-color: rgba(0, 0, 0, .05)
}

.jarviswidget-loader {
	width: 32px;
	height: 32px;
	margin: 0;
	float: right;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
	text-align: center;
	line-height: 32px;
	font-size: 111%
}

.jarviswidget>div {
	float: left;
	width: 100%;
	position: relative;
	font-size: 13px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0;
	border-width: 1px 1px 2px;
	border-style: solid;
	border-top: none;
	border-right-color: #CCC!important;
	border-bottom-color: #CCC!important;
	border-left-color: #CCC!important;
	padding: 13px 13px 0;
	overflow: visible
}

.jarviswidget .widget-body {
	min-height: 100px;
	position: relative;
	padding-bottom: 13px
}

.jarviswidget .widget-body.widget-hide-overflow {
	overflow: hidden
}


.jarviswidget.well.transparent .widget-body.no-padding {
	margin: 0!important
}


.jarviswidget.well {
	margin: 0 0 30px
}

.jarviswidget.well>div {
	border: none!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important
}

.jarviswidget.well header {
	display: none
}


.jarviswidget-editbox {
	display: none;
	padding: 10px
}

.jarviswidget-timestamp {
	font-size: 12px;
	color: #868686;
	font-style: italic;
	margin: 10px 0 0
}

.jarviswidget-placeholder {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom: 28px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

#jarviswidget-fullscreen-mode {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050
}

#jarviswidget-fullscreen-mode .jarviswidget {
	margin: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#jarviswidget-fullscreen-mode .jarviswidget>div {
	overflow-y: scroll;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#jarviswidget-fullscreen-mode>div>header {
	cursor: default
}

.jarviswidget>header {
	color: #333;
	border: 1px solid #C2C2C2;
	background: #fafafa
}

.jarviswidget>div {
	background-color: #fff!important
}

.jarviswidget-editbox {
	border-bottom: 1px solid #B1B1B1;
	background-color: #fff;
	margin: -13px -13px 13px
}

.no-padding .jarviswidget-editbox {
	margin: 0 0 10px
}

.jarviswidget-placeholder {
	background-color: #FFC;
	border: 1px dashed #A7A7A7
}

.jarviswidget-remove-colors {
	color: #333!important;
	padding: 0!important;
	background: none!important
}

.jarviswidget-color-magenta>header {
	border-color: #643167!important;
	background: #6e3671;
	color: #fff
}

.jarviswidget-color-magenta .nav-tabs li:not(.active) a,
.jarviswidget-color-magenta>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-magenta .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-pink>header {
	border-color: #a24d7f!important;
	background: #ac5287;
	color: #fff
}

.jarviswidget-color-pink .nav-tabs li:not(.active) a,
.jarviswidget-color-pink>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-pink .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-pinkDark>header {
	border-color: #a27998!important;
	background: #a8829f;
	color: #fff
}

.jarviswidget-color-pinkDark .nav-tabs li:not(.active) a,
.jarviswidget-color-pinkDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-pinkDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-yellow>header {
	border-color: #aa9452!important;
	background: #b09b5b;
	color: #fff
}

.jarviswidget-color-yellow .nav-tabs li:not(.active) a,
.jarviswidget-color-yellow>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-yellow .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-orange>header {
	border-color: #ba871f!important;
	background: #c79121;
	color: #fff
}

.jarviswidget-color-orange .nav-tabs li:not(.active) a,
.jarviswidget-color-orange>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-orange .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-orangeDark>header {
	border-color: #b1811d!important;
	background: #b6841e;
	color: #fff
}

.jarviswidget-color-orangeDark .nav-tabs li:not(.active) a,
.jarviswidget-color-orangeDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-orangeDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-darken>header {
	border-color: #383838!important;
	background: #404040;
	color: #fff
}

.jarviswidget-color-darken>.nav-tabs>li:not(.active)>a,
.jarviswidget-color-darken>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-darken .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-purple>header {
	border-color: #665271!important;
	background: #6e587a;
	color: #fff
}

.jarviswidget-color-purple .nav-tabs li:not(.active) a,
.jarviswidget-color-purple>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-purple .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-teal>header {
	border-color: #508180!important;
	background: #568a89;
	color: #fff
}

.jarviswidget-color-teal .nav-tabs li:not(.active) a,
.jarviswidget-color-teal>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-teal .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blueDark>header {
	border-color: #45474b!important;
	background: #4c4f53;
	color: #fff
}

.jarviswidget-color-blueDark .nav-tabs li:not(.active) a,
.jarviswidget-color-blueDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-blueDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blue>header {
	border-color: #45474b!important;
	background: #4c4f53;
	color: #fff
}

.jarviswidget-color-blue .nav-tabs li:not(.active) a,
.jarviswidget-color-blue>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-blue .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blueLight>header {
	border-color: #a0aeb3!important;
	background: #cbd2d5;
	color: #000
}

.jarviswidget-color-blueLight .nav-tabs li a:hover,
.jarviswidget-color-blueLight .nav-tabs li:not(.active) a,
.jarviswidget-color-blueLight>header>.jarviswidget-ctrls a {
	color: #2b363c!important
}

.jarviswidget-color-red>header {
	border-color: #9a0325!important;
	background: #a90329;
	color: #fff
}

.jarviswidget-color-red .nav-tabs li:not(.active) a,
.jarviswidget-color-red>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-red .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-redLight>header {
	border-color: #9c5353!important;
	background: #a65858;
	color: #fff
}

.jarviswidget-color-redLight .nav-tabs li:not(.active) a,
.jarviswidget-color-redLight>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-redLight .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-white>header {
	border-color: #ccc!important;
	background: #fff;
	color: #666
}

.jarviswidget-color-white .nav-tabs li a:hover,
.jarviswidget-color-white .nav-tabs li:not(.active) a,
.jarviswidget-color-white>header>.jarviswidget-ctrls a {
	color: gray!important
}

.jarviswidget-color-greenDark>header {
	border-color: #436043!important;
	background: #496949;
	color: #fff
}

.jarviswidget-color-greenDark .nav-tabs li:not(.active) a,
.jarviswidget-color-greenDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-greenDark .nav-tabs li a:hover {
	color: #333!important
}

ul.pagination{
	margin:0px !important;
	
}



.jarviswidget {
	margin: 0 0 30px;
	position: relative;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0
}

.jarviswidget>header {
	height: 34px;
	padding: 0;
	line-height: 40px
}

.jarviswidget>header>.widget-icon {
	display: block;
	width: 30px;
	height: 32px;
	position: relative;
	float: left;
	font-size: 111%;
	line-height: 32px;
	text-align: center;
	margin-right: -10px
}

.jarviswidget>header h2 {
	height: 100%;
	width: auto;
	display: inline-block;
	font-size: 14px;
	position: relative;
	margin: 0;
	line-height: 34px;
	font-weight: 400;
	letter-spacing: 0
}

.jarviswidget>header>h2 {
	margin-left: 10px;
	float: left
}

.jarviswidget>header>:first-child.widget-icon {
	margin-left: 0
}

.jarviswidget>header .jarviswidget-icon {
	width: 16px;
	height: 16px;
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	zoom: 1;
	z-index: 4000
}

.ui-sortable .jarviswidget-sortable>header {
	cursor: move;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	line-height: normal;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05)
}

.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed>header {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

.jarviswidget-ctrls {
	width: auto;
	float: right;
	padding: 0;
	margin: 0
}

.jarviswidget-ctrls .button-icon {
	min-width: 30px;
	height: 32px;
	float: left;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 1px solid rgba(0, 0, 0, .09)
}

.jarviswidget-ctrls .button-icon:hover {
	background-color: rgba(0, 0, 0, .05)
}

.jarviswidget-loader {
	width: 32px;
	height: 32px;
	margin: 0;
	float: right;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
	text-align: center;
	line-height: 32px;
	font-size: 111%
}

.jarviswidget>div {
	float: left;
	width: 100%;
	position: relative;
	font-size: 13px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0;
	border-width: 1px 1px 2px;
	border-style: solid;
	/* border-top: none; */
	border-right-color: #CCC!important;
	border-bottom-color: #CCC!important;
    border-left-color: #CCC!important;
    border-top-color: #CCC!important;
	padding: 0px 0px 0;
	overflow: visible
}

.jarviswidget .widget-body {
	min-height: 100px;
	position: relative;
	padding-bottom: 13px
}

.jarviswidget .widget-body.widget-hide-overflow {
	overflow: hidden
}


.jarviswidget.well.transparent .widget-body.no-padding {
	margin: 0!important
}


.jarviswidget.well {
	margin: 0 0 30px
}

.jarviswidget.well>div {
	border: none!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important
}

.jarviswidget.well header {
	display: none
}


.jarviswidget-editbox {
	display: none;
	padding: 10px
}

.jarviswidget-timestamp {
	font-size: 12px;
	color: #868686;
	font-style: italic;
	margin: 10px 0 0
}

.jarviswidget-placeholder {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom: 28px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

#jarviswidget-fullscreen-mode {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050
}

#jarviswidget-fullscreen-mode .jarviswidget {
	margin: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#jarviswidget-fullscreen-mode .jarviswidget>div {
	overflow-y: scroll;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

#jarviswidget-fullscreen-mode>div>header {
	cursor: default
}

.jarviswidget>header {
	color: #333;
	border: 1px solid #C2C2C2;
	background: #fafafa
}

.jarviswidget>div {
	background-color: #fff!important
}

.jarviswidget-editbox {
	border-bottom: 1px solid #B1B1B1;
	background-color: #fff;
	margin: -13px -13px 13px
}

.no-padding .jarviswidget-editbox {
	margin: 0 0 10px
}

.jarviswidget-placeholder {
	background-color: #FFC;
	border: 1px dashed #A7A7A7
}

.jarviswidget-remove-colors {
	color: #333!important;
	padding: 0!important;
	background: none!important
}

.jarviswidget-color-magenta>header {
	border-color: #643167!important;
	background: #6e3671;
	color: #fff
}

.jarviswidget-color-magenta .nav-tabs li:not(.active) a,
.jarviswidget-color-magenta>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-magenta .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-pink>header {
	border-color: #a24d7f!important;
	background: #ac5287;
	color: #fff
}

.jarviswidget-color-pink .nav-tabs li:not(.active) a,
.jarviswidget-color-pink>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-pink .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-pinkDark>header {
	border-color: #a27998!important;
	background: #a8829f;
	color: #fff
}

.jarviswidget-color-pinkDark .nav-tabs li:not(.active) a,
.jarviswidget-color-pinkDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-pinkDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-yellow>header {
	border-color: #aa9452!important;
	background: #b09b5b;
	color: #fff
}

.jarviswidget-color-yellow .nav-tabs li:not(.active) a,
.jarviswidget-color-yellow>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-yellow .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-orange>header {
	border-color: #ba871f!important;
	background: #c79121;
	color: #fff
}

.jarviswidget-color-orange .nav-tabs li:not(.active) a,
.jarviswidget-color-orange>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-orange .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-orangeDark>header {
	border-color: #b1811d!important;
	background: #b6841e;
	color: #fff
}

.jarviswidget-color-orangeDark .nav-tabs li:not(.active) a,
.jarviswidget-color-orangeDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-orangeDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-darken>header {
	border-color: #383838!important;
	background: #404040;
	color: #fff
}

.jarviswidget-color-darken>.nav-tabs>li:not(.active)>a,
.jarviswidget-color-darken>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-darken .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-purple>header {
	border-color: #665271!important;
	background: #6e587a;
	color: #fff
}

.jarviswidget-color-purple .nav-tabs li:not(.active) a,
.jarviswidget-color-purple>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-purple .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-teal>header {
	border-color: #508180!important;
	background: #568a89;
	color: #fff
}

.jarviswidget-color-teal .nav-tabs li:not(.active) a,
.jarviswidget-color-teal>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-teal .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blueDark>header {
	border-color: #45474b!important;
	background: #4c4f53;
	color: #fff
}

.jarviswidget-color-blueDark .nav-tabs li:not(.active) a,
.jarviswidget-color-blueDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-blueDark .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blue>header {
	border-color: #45474b!important;
	background: #4c4f53;
	color: #fff
}

.jarviswidget-color-blue .nav-tabs li:not(.active) a,
.jarviswidget-color-blue>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-blue .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-blueLight>header {
	border-color: #a0aeb3!important;
	background: #cbd2d5;
	color: #000
}

.jarviswidget-color-blueLight .nav-tabs li a:hover,
.jarviswidget-color-blueLight .nav-tabs li:not(.active) a,
.jarviswidget-color-blueLight>header>.jarviswidget-ctrls a {
	color: #2b363c!important
}

.jarviswidget-color-red>header {
	border-color: #9a0325!important;
	background: #a90329;
	color: #fff
}

.jarviswidget-color-red .nav-tabs li:not(.active) a,
.jarviswidget-color-red>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-red .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-redLight>header {
	border-color: #9c5353!important;
	background: #a65858;
	color: #fff
}

.jarviswidget-color-redLight .nav-tabs li:not(.active) a,
.jarviswidget-color-redLight>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-redLight .nav-tabs li a:hover {
	color: #333!important
}

.jarviswidget-color-white>header {
	border-color: #ccc!important;
	background: #fff;
	color: #666
}

.jarviswidget-color-white .nav-tabs li a:hover,
.jarviswidget-color-white .nav-tabs li:not(.active) a,
.jarviswidget-color-white>header>.jarviswidget-ctrls a {
	color: gray!important
}

.jarviswidget-color-greenDark>header {
	border-color: #436043!important;
	background: #496949;
	color: #fff
}

.jarviswidget-color-greenDark .nav-tabs li:not(.active) a,
.jarviswidget-color-greenDark>header>.jarviswidget-ctrls a {
	color: #fff!important
}

.jarviswidget-color-greenDark .nav-tabs li a:hover {
	color: #333!important
}







/* ////////////////////////////// */
/* 
 .input-append.color .add-on i input, .input-prepend.color .add-on i input{
    display:block;
    cursor:pointer;
    width:16px;
    height:16px
}
 div.dataTables_length label input{
    font-weight:400;
    float:left;
    text-align:left
}
 div.dataTables_length select{
    width:75px
}
 div.dataTables_filter label{
    font-weight:400;
    float:right
}
 div.dataTables_filter input{
    width:16em
}
 div.dataTables_paginate{
    float:right;
    margin:0
}
 div.dataTables_paginate ul.pagination{
    margin:2px 0;
    white-space:nowrap
}
 table.dataTable td, table.dataTable th{
    box-sizing:content-box
}
 table.dataTable{
    clear:both;
    margin-top:6px!important;
    margin-bottom:6px!important;
    max-width:none!important
}
 table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled{
    cursor:pointer
}
 table.dataTable thead>tr>th{
    padding-right:18px
}
 table.dataTable th:active{
    outline:0
}
 div.dataTables_scrollHead table{
    margin-bottom:0!important;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0
}
 div.dataTables_scrollHead table thead tr:last-child td:first-child, div.dataTables_scrollHead table thead tr:last-child th:first-child{
    border-bottom-left-radius:0!important;
    border-bottom-right-radius:0!important
}
 div.dataTables_scrollBody table{
    border-top:none;
    margin-top:0!important;
    margin-bottom:0!important
}
 div.dataTables_scrollBody tbody tr:first-child td, div.dataTables_scrollBody tbody tr:first-child th{
    border-top:none
}
 div.dataTables_scrollFoot table{
    margin-top:0!important;
    border-top:none
}
 table.table-bordered.dataTable{
    border-collapse:separate!important
}
 table.table-bordered thead td, table.table-bordered thead th{
    border-left-width:0;
    border-top-width:0
}
 table.table-bordered tbody td, table.table-bordered tbody th{
    border-left-width:0;
    border-bottom-width:0
}
 table.table-bordered td:last-child, table.table-bordered th:last-child{
    border-right-width:0
}
 div.dataTables_scrollHead table.table-bordered{
    border-bottom-width:0
}
 table.DTTT_selectable tbody tr{
    cursor:pointer
}
 table.dataTable tr.DTTT_selected.odd, table.dataTable tr.DTTT_selected.odd td.sorting_1, table.dataTable tr.DTTT_selected.odd td.sorting_2, table.dataTable tr.DTTT_selected.odd td.sorting_3{
    background-color:#9fafd1
}
 table.dataTable tr.DTTT_selected.even, table.dataTable tr.DTTT_selected.even td.sorting_1, table.dataTable tr.DTTT_selected.even td.sorting_2, table.dataTable tr.DTTT_selected.even td.sorting_3{
    background-color:#b0bed9
}
 div.DTTT_collection{
    width:150px;
    padding:8px 8px 4px;
    border:1px solid rgba(0,0,0,.4);
    background-color:rgba(255,255,255,.3);
    overflow:hidden;
    z-index:2002;
    border-radius:5px;
    -ms-box-shadow:3px 3px 5px rgba(0,0,0,.3);
    -o-box-shadow:3px 3px 5px rgba(0,0,0,.3);
    box-shadow:3px 3px 5px rgba(0,0,0,.3)
}
 div.DTTT_collection_background{
    z-index:2001
}
 div.DTTT_collection a.DTTT_button, div.DTTT_collection button.DTTT_button, div.DTTT_collection div.DTTT_button{
    position:relative;
    left:0;
    right:0;
    display:block;
    float:none;
    margin-bottom:4px;
    -ms-box-shadow:1px 1px 3px #999;
    -o-box-shadow:1px 1px 3px #999;
    box-shadow:1px 1px 3px #999
}
 .DTTT_print_info{
    position:fixed;
    top:50%;
    left:50%;
    width:400px;
    height:150px;
    margin-left:-200px;
    margin-top:-75px;
    text-align:center;
    color:#333;
    padding:10px 30px;
    background:#fff;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(89%,#f3f3f3),to(#f9f9f9));
    background:linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    opacity:.95;
    border:1px solid rgba(0,0,0,.5);
    border-radius:6px;
    -ms-box-shadow:0 3px 7px rgba(0,0,0,.5);
    -o-box-shadow:0 3px 7px rgba(0,0,0,.5);
    box-shadow:0 3px 7px rgba(0,0,0,.5)
}
 .DTTT_print_info h6{
    font-weight:400;
    font-size:28px;
    line-height:28px;
    margin:1em
}
 .DTTT_print_info p{
    font-size:14px;
    line-height:20px
}
 table.has-columns-hidden>tbody>tr>td>span.responsiveExpander{
    background:url(../img/plus.png) 5px center no-repeat;
    padding-left:32px;
    cursor:pointer
}
 table.has-columns-hidden>tbody>tr.detail-show>td span.responsiveExpander{
    background:url(../img/minus.png) 5px center no-repeat
}
 table.has-columns-hidden>tbody>tr.row-detail>td{
    background:#eee
}
 table.has-columns-hidden>tbody>tr.row-detail>td>ul{
    list-style:none;
    margin:0;
    padding:0
}
 table.has-columns-hidden>tbody>tr.row-detail>td>ul>li>span.columnTitle{
    font-weight:700
}
 .dt-toolbar{
    display:block;
    position:relative;
    padding:6px 7px 1px;
    width:100%;
    float:left;
    border-bottom:1px solid #ccc;
    background:#fafafa
}
 .dt-toolbar-footer{
    background:#fafafa;
    font-size:11px;
    overflow:hidden;
    padding:5px 10px;
    border-top:1px solid #ccc;
    -ms-box-shadow:inset 0 1px #fff;
    box-shadow:inset 0 1px #fff
}
 .dt-toolbar-footer>:first-child, .dt-toolbar>:first-child{
    padding-left:0!important
}
 .dt-toolbar-footer>:last-child, .dt-toolbar>:last-child{
    padding-right:0!important
}
 /* table.dataTable thead .sorting{
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) center right no-repeat
}
 table.dataTable thead .sorting_asc{
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) center right no-repeat
}
 table.dataTable thead .sorting_desc{
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) center right no-repeat
}
 table.dataTable thead .sorting_asc_disabled{
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABUVFR8AzIeAAAAAnRSTlMAf7YpoZUAAAAdSURBVAjXY8AJHID4AQMD4wcGBuYfDAzsfxgIAQCkSQQQkGx5MAAAAABJRU5ErkJggg==) center right no-repeat
}
 table.dataTable thead .sorting_desc_disabled{
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABUVFR8AzIeAAAAAnRSTlMAf7YpoZUAAAAcSURBVAjXYyAE2P8wMDD/YGBg/ADkPABiB5xKAZDZBBBG27rUAAAAAElFTkSuQmCC) center right no-repeat
} 
 table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{
    background-color:#eee
}
 .dataTables_empty{
    padding:20px 10px!important;
    font-size:14px;
    text-align:center;
    color:#575757
}
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding:8px 10px
}
 table.dataTable tfoot>tr>th, table.dataTable thead>tr>th{
    padding-left:9px!important
}
 table.dataTable tfoot>tr>th input, table.dataTable thead>tr>th input{
    width:100%!important;
    font-weight:400
}
 table.dataTable thead>tr>th.hasinput{
    padding:6px!important
}
 div.dataTables_info{
    padding-top:9px;
    font-size:13px;
    font-weight:700;
    font-style:italic;
    color:#969696
}
 .dataTable thead>tr>th{
    border-left:none!important
}
 .dataTable input[type=checkbox].checkbox, .dataTable input[type=radio].radiobox{
    left:-999px
}
 table.dataTable thead>tr>th.sorting_disabled{
    padding-right:9px!important
}
 .dataTables_filter{
    float:left;
    width:100%
}
 .dataTables_filter .input-group-addon{
    width:32px;
    margin-top:0;
    float:left;
    height:34px;
    padding-top:8px
}
 .dataTables_filter .input-group-addon+.form-control{
    float:left
}
 .dt-toolbar>:first-child .DTTT, .dt-toolbar>:first-child .dataTables_filter>:only-child, .dt-toolbar>:first-child .dataTables_length, .dt-toolbar>:first-child .pagination{
    float:left!important
}
 .dt-toolbar>:last-child .DTTT, .dt-toolbar>:last-child .dataTables_filter>:only-child, .dt-toolbar>:last-child .dataTables_length, .dt-toolbar>:last-child .pagination{
    float:right
}
 .dt-toolbar-footer>:first-child .DTTT, .dt-toolbar-footer>:first-child .dataTables_filter>:only-child, .dt-toolbar-footer>:first-child .dataTables_length, .dt-toolbar-footer>:first-child .pagination{
    float:left
}
 .dt-toolbar-footer>:last-child .DTTT, .dt-toolbar-footer>:last-child .dataTables_filter>:only-child, .dt-toolbar-footer>:last-child .dataTables_length, .dt-toolbar-footer>:last-child .pagination{
    float:right
}
 article.sortable-grid{
    min-height:30px
}
 .jarviswidget{
    margin:0 0 30px;
    position:relative;
    border-radius:0;
    padding:0
}
 .widget-content-padding{
    padding:20px
}
 .widget-content-padding .well{
    margin-bottom:0
}
 .jarviswidget-ctrls{
    width:auto;
    float:right;
    padding:0;
    margin:0
}
 .jarviswidget-ctrls .button-icon{
    min-width:30px;
    height:32px;
    float:left;
    position:relative;
    font-family:Arial,Helvetica,sans-serif;
    border-left:1px solid rgba(0,0,0,.09)
}
 .jarviswidget-ctrls .button-icon:hover{
    background-color:rgba(0,0,0,.05)
}
 .jarviswidget-loader{
    width:32px;
    height:32px;
    margin:0;
    float:right;
    background-repeat:no-repeat;
    background-position:center center;
    display:none;
    text-align:center;
    line-height:32px;
    font-size:111%
}
 .jarviswidget>div{
    float:left;
    width:100%;
    position:relative;
    font-size:13px;
    border-radius:0;
    margin:0;
    border-width:1px 1px 2px;
    border-style:solid;
    border-top:none;
    border-right-color:#ccc!important;
    border-bottom-color:#ccc!important;
    border-left-color:#ccc!important;
    padding:13px 13px 0;
    overflow:visible;
    background-color:#fff!important
}
 .jarviswidget .widget-body{
    min-height:100px;
    position:relative;
    padding-bottom:13px
}
 .jarviswidget .widget-body.widget-hide-overflow{
    overflow:hidden
}
 .widget-toolbar.no-border{
    border-left:none
}
 .widget-body.no-padding{
    margin:-13px -13px 0
}
 .widget-body.no-padding .alert{
    margin:0 0 10px;
    padding:10px;
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    border-width:0 0 1px!important;
    border-radius:0!important;
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important
}
 .jarviswidget.well.transparent .widget-body.no-padding{
    margin:0!important
}
 .widget-body>table{
    margin-bottom:0
}
 .no-padding .md-editor, .widget-body.no-padding .cke_chrome{
    border:none
}
 .widget-toolbar>.smart-form{
    margin-top:2px
}
 .widget-toolbar>.smart-form .toggle:last-child{
    font-size:12px;
    line-height:29px
}
 .widget-toolbar>.smart-form .checkbox input+i, .widget-toolbar>.smart-form .radio input+i, .widget-toolbar>.smart-form .toggle input+i{
    border-width:1px;
    border-color:#c7c7c7!important;
    margin-top:1px;
    box-shadow:0 1px 1px #fff,0 1px 1px #858585 inset;
    -webkit-box-shadow:0 1px 1px #fff,0 1px 1px #858585 inset;
    -moz-box-shadow:0 1px 1px #fff,0 1px 1px #858585 inset
}
 .jarviswidget.well{
    margin:0 0 30px
}
 .jarviswidget.well>div{
    border:none!important;
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important
}
 .widget-footer{
    display:block;
    min-height:32px;
    vertical-align:middle;
    position:relative;
    background-color:#f8f7f7;
    padding:5px;
    border-top:1px solid #e4e4e4;
    text-align:right;
    margin:0 -13px -13px
}
 .no-padding .widget-footer{
    margin:0
}
 .widget-footer.smart-form>label{
    margin-top:4px;
    display:block
}
 .jarviswidget-editbox{
    display:none;
    padding:10px
}
 .jarviswidget-timestamp{
    font-size:12px;
    color:#868686;
    font-style:italic;
    margin:10px 0 0
}
 .jarviswidget-placeholder{
    border-radius:0;
    margin-bottom:28px;
    padding:0;
    -khtml-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box
}
 body.nooverflow{
    overflow:hidden;
    position:fixed;
    width:100%
}
 #jarviswidget-fullscreen-mode{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1050
}
 #jarviswidget-fullscreen-mode .jarviswidget{
    margin:0;
    border-radius:0
}
 #jarviswidget-fullscreen-mode .jarviswidget>div{
    overflow-y:scroll;
    border-radius:0
}
 .smart-form.widget-body-toolbar, .widget-body-toolbar{
    display:block;
    padding:8px 10px;
    margin:-13px -13px 13px;
    min-height:42px;
    border-bottom:1px solid #ccc;
    background:#fafafa
}
 .no-padding .smart-form.widget-body-toolbar, .no-padding .widget-body-toolbar, .no-padding.widget-body-toolbar{
    display:block;
    margin:0
}
 .smart-form .widget-body-toolbar .inline-group, .widget-body-toolbar.smart-form .inline-group{
    float:left;
    margin-top:4px
}
 .widget-body-toolbar .btn{
    vertical-align:middle
}
 .widget-body-toolbar .btn-xs{
    margin-top:5px
}
 .widget-body-ajax-loading::before{
    content:url(../img/ajax-loader.gif);
    padding-top:18%;
    text-align:center;
    font-weight:700;
    font-size:16px;
    color:#fff;
    display:block;
    background:rgba(255,255,255,.4);
    height:100%;
    z-index:1;
    width:100%;
    position:absolute
}
 .widget-body-ajax-loading:hover{
    cursor:wait!important
}
 .jarviswidget-editbox{
    border-bottom:1px solid #b1b1b1;
    background-color:#fff;
    margin:-13px -13px 13px
}
 .no-padding .jarviswidget-editbox{
    margin:0 0 10px
}
 .jarviswidget-placeholder{
    background-color:#ffc;
    border:1px dashed #a7a7a7
}
 .jarviswidget-remove-colors{
    color:#333!important;
    padding:0!important;
    background:0 0!important
}
 .jarviswidget-color-greenDark .nav-tabs li a:hover{
    color:#333!important
}
 .search-results{
    padding:18px 5px
}
 .search-results+.search-results{
    border-top:1px dashed #e3e3e3
}
 .search-results>:first-child{
    margin-bottom:4px;
    font-weight:400
}
 .search-results>:first-child a{
    text-decoration:underline
}
 .search-results .url{
    font-style:normal;
    font-size:14px
}
 .search-results img{
    display:inline-block;
    margin-top:4px;
    margin-right:4px;
    width:80px
}
 .search-results>div{
    display:inline-block;
    vertical-align:top
}
 .search-results .note{
    margin:0;
    line-height:normal
}
 .search-results .note a{
    text-decoration:none!important;
    color:#333
}
 .search-results .note a:hover{
    color:#ed1c24
}
 .uneditable-input:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus{
    outline:0;
    box-shadow:none!important
}
 .form-control, .input-lg, .input-sm, .input-xs{
    border-radius:0!important;
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important
}
 .input-xs{
    height:24px;
    padding:2px 10px;
    font-size:11px;
    line-height:1.5
}
 .btn-xs{
    padding:1px 5px
}
 .btn-sm{
    padding:6px 10px 5px
}
 .btn-lg{
    padding:10px 16px
}
 .no-space{
    margin:0
}
 .no-space>[class*=col-]{
    margin:0!important;
    padding-right:0;
    padding-left:0
}
 #content{
    padding:10px 14px;
    position:relative
}
 body.container{
    position:absolute;
    left:0;
    right:0;
    padding:0;
    border-left:1px solid #bfbfbf;
    border-right:1px solid #bfbfbf;
    box-shadow:0 2px 70px rgba(0,0,0,.45)
}
 body.container.hidden-menu:not(.mobile-view-activated){
    overflow:hidden
}
 body.container.modal-open{
    padding:0!important
}
 h1{
    letter-spacing:-1px;
    font-size:24px;
    margin:10px 0
}
 h1 small{
    font-size:18px;
    font-weight:300;
    letter-spacing:-1px
}
 .lead{
    font-size:19px
}
 h2{
    letter-spacing:-1px;
    font-size:22px;
    margin:20px 0;
    line-height:normal
}
 h3{
    display:block;
    font-size:19px;
    font-weight:400;
    margin:20px 0;
    line-height:normal
}
 h4{
    line-height:normal
}
 h5{
    font-size:17px;
    font-weight:300;
    margin:10px 0;
    line-height:normal
}
 h6{
    font-size:15px;
    margin:10px 0;
    font-weight:700;
    line-height:normal
}
 .center-canvas, .center-child-canvas>canvas{
    display:block!important;
    margin:0 auto!important
}
 .bordered{
    border:1px solid rgba(0,0,0,.2)
}
 .bordered:hover{
    border:1px solid rgba(0,0,0,.4)
}
 aside{
    display:block;
    background:url(data:image/svg+xml;
    base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),to(#2a2725));
    background:linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height:100%
}
 #logo-group>span{
    display:inline-block;
    height:39px;
    float:left
}
 #logo-group span#activity{
    border-radius:2px;
    cursor:default!important;
    display:inline-block;
    font-weight:700;
    height:24px;
    width:24px;
    padding:2px;
    text-align:center;
    text-decoration:none!important;
    -moz-user-select:none;
    -webkit-user-select:none;
    background-color:#f8f8f8;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
    border:1px solid #bfbfbf;
    color:#c4bab6;
    font-size:19px;
    margin:10px 0 0;
    position:relative
}
 .input-group-addon{
    padding:6px 10px;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    transition:background-color .3s;
    -o-transition:background-color .3s;
    -ms-transition:background-color .3s;
    -moz-transition:background-color .3s;
    -webkit-transition:background-color .3s
}
 .input-group-addon .fa{
    font-size:14px
}
 .input-group-addon .fa-2x, .input-group-addon .fa-lg{
    font-size:2em
}
 .input-group-addon .fa-3x, .input-group-addon .fa-4x, .input-group-addon .fa-5x{
    font-size:30px
}
 input[type=text]:focus+.input-group-addon{
    border-color:#0091d9;
    background-color:#72a0ce;
    color:#fff
}
 .no-padding{
    padding:0!important
}
 .no-padding>pre{
    margin:30px
}
 .no-padding .dataTables_wrapper table, .no-padding>table{
    border:none!important;
    margin-bottom:0!important;
    border-bottom-width:0!important
}
 .no-padding-bottom{
    padding-bottom:0!important
}
 .padding-5{
    padding:5px!important
}
 .padding-7{
    padding:7px!important
}
 .padding-10{
    padding:10px!important
}
 .padding-gutter{
    padding:13px!important
}
 .padding-top-10{
    padding-top:10px!important
}
 


.ngx-icon {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
} */


.cus-cursor-pointer {
    cursor: pointer;
}