<div class="row">
    <div class="col-sm-12">
      <h3>Customize cell template with  <a href="https://raw.githubusercontent.com/swimlane/ngx-datatable/master/src/assets/data/100k.json">100k</a> data in datatable</h3>
      <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="data" [options]="options"
        [columns]="columns" (rowClick)="onRowClick($event)">
        <ngx-caption>
          <div class="row">
            <div class="col-sm-6 col-xs-6 col-6 ">
              <b>
                <i class="fa fa-table" aria-hidden="true"></i>
                Data Table List
              </b>
            </div>
            <div class="col-sm-6 col-xs-6 col-6  text-right">
                <button type="button" class="btn btn-primary" (click)="onClickBtn()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add 
                </button>
            </div>
          </div>
        </ngx-caption>
        <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
            {{columnValue.city}}, {{columnValue.state}}   
        </ng-template>
        <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
            <!--{{row | json}} {{rowIndex}} {{columnValue}} -->
            <a href="javascript:void(0)" (click)="edit(row)">Edit</a> | 
            <a href="javascript:void(0)"  (click)="remove(rowIndex)">Delete</a>
          </ng-template>
       
      </ngx-datatable>
    </div>
  </div>