.red{
    color:red !important
}
.blue{
    color:#337ab7 !important
}
ul.ngx-pagination{
    padding-left: 0px !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0px;
    line-height: normal;
}