<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ngx Datatable</a>
    </div>
    <ul class="nav navbar-nav">
      <li [class.active]="navBarShow.basic"><a href="#" (click)="onClickBasic()">Basic</a></li>
      <li [class.active]="navBarShow.pinTab"><a href="#" (click)="onClickPinColumn()">Pin column</a></li>
      <li [class.active]="navBarShow.cellTemplate"><a href="#" (click)="onClickCellTemplate()">Cell Template</a></li>

      <li><a class="live-code" href="https://stackblitz.com/edit/ngx-datatable-angular?file=src/app/app.component.ts" >Live example</a></li>
    </ul>
    
  </div>
</nav>

<div class="container">
  <app-basic *ngIf="navBarShow.basic"></app-basic>
  <app-pin-tab *ngIf="navBarShow.pinTab"></app-pin-tab>
  <app-cell-template *ngIf="navBarShow.cellTemplate"></app-cell-template>
</div>



<br />
